$font-primary: "Open Sans", sans-serif;
$gap-large: 20px;
$gap-small: 10px;
$padding-large: 20px;
$padding-small: 8px;
$unified-space: 16px;
$margin-small: 5px 0;
$border-radius: 8px;
$box-shadow-small: 0 2px 5px rgba(0, 0, 0, 0.15);
$font-weight-bold: 700;
$color-button-primary: rgb(40, 101, 255);
$color-button-secondary: rgb(104, 60, 225);
$color-white: #fff;
$color-grey: #f8f8f8;
$border-color-light: #ddd;
$border-color-dark: #ccc;
$font-size-large: 32px;
$font-size-medium: 24px;
$font-size-small: 16px;
