$active-color: rgb(105, 193, 64);
$gap-small: 5px;

.toggle {
  cursor: pointer;
  display: flex;
  align-items: center;

  &__switch {
    display: inline-block;
    background-color: #ccc;
    border-radius: 16px;
    width: 43.5px;
    height: 24px;
    position: relative;
    vertical-align: middle;
    transition: background-color 0.25s;

    &:before,
    &:after {
      content: "";
    }

    &:before {
      display: block;
      background: linear-gradient(to bottom, #fff 0%, #eee 100%);
      border-radius: 50%;
      box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
      width: 18px;
      height: 18px;
      position: absolute;
      top: 3px;
      left: 3px;
      transition: left 0.25s;
    }
  }

  &__checkbox {
    position: absolute;
    visibility: hidden;

    &:checked + .toggle__switch {
      background-color: $active-color;
    }

    &:checked + .toggle__switch:before {
      left: 22.5px;
    }
  }
  &__label {
    margin-left: $gap-small;
    text-wrap: nowrap;
  }
}
